body, html, h1, h2, h3, h4, h5, h6, p, div, ul, li { margin:0; padding:0;}
body, html { width:100%; height:100%; font-family: "Segoe UI", "Trebuchet MS", Arial, _sans;}
ul, li { list-style-type: none; position:relative; overflow: hidden;}
a { display: block; text-decoration:none; overflow: hidden;}
img { width:100%; height: auto;}
form { padding:.75em; background:white;}
form fieldset { border:none; margin:0; padding:0;}

header, footer { clear:both; float:none;}
header > *, footer > * { display:inline-block; z-index:1; position: relative;}
header { padding:.5em;}
header a { padding: .5em 1em; position:absolute; top:.5em;}
header a.next { right:0;}
header a.back { left:0;}
header h1 { position:static; top:0; left:0; width:100%; text-align: center; z-index:0; font-size:1.4em;}

article, 
section.content ul.list { padding:1em;}

footer { position: fixed; bottom:-.3em; left:0; width:100%;}
footer .nav { width:100%;}
footer .nav a { padding: .5em 1em; text-align: center;}
footer .nav a:before { content:""; clear:both; width:2em; height:2em; background:blue; display: block; left: 50%; position: relative; margin-left: -1em;}
footer .nav a.selected { pointer-events:none;}
footer .items_2 li { width:50%;}
footer .items_3 li { width:33.3%;}


ul.gameTypes li,
ul.scoreList li,
ul.nav li  { float:left; background:rgba(0,0,0,.3);}

ul.list li { box-sizing:border-box; -webkit-box-sizing: border-box;}
ul.list li a[data-type=delete] { float:right; width:0em; height:3em; background:red; z-index:1; position: relative;}
ul.list li a.clicker { position:absolute; background: rgba(0,0,223,.3); width:100%; height:100%;}
ul.list li .wrapper { overflow: hidden; display: block;}
ul.list input[type=range] { display: block; width: 100%;}

ul.withSelect li a.clicker { display: none;}
ul.withSelect li a[data-type=select] { top:0; position:absolute; background: rgba(0,30,123,.3); width:100%; height:100%;}
.editable .list li a[data-type=delete] { width:3em;}

ul.scoreList li { clear:both; float:none;}
ul.gameTypes a[data-active=false] { background:rgba(177,0,0,.3); pointer-events:none;}



form .element { clear:both; float:none; display:block; overflow: hidden; padding:.5em 0; box-sizing:"border-box";}
form .element input,
form .element label { box-sizing: border-box; font-size:1em; border-radius:.4em; border:.2em solid #ccc; padding:.3em;}
form .element label { display:inline-block; background:#ccc; color:#666; border-bottom-left-radius:0; border-bottom-right-radius:0; padding-bottom:.4em;}
form .element input { border-top-left-radius: 0; width:100%; margin-top:-.1em; padding:.6em 1em}
form .element input.invalid { background:rgba(255,0,0,.5); font-weight: bold; color:#fff; }
form .element input.invalid:focus { background:white; color:#000; font-weight:normal;}
form .element input.invalid::-webkit-input-placeholder { color:#fff;}

form .avatarPicture { display: block; overflow:hidden; position:relative; margin:0 auto; width:10em; height:10em; background:black; border-radius:.5em;}
form .avatarPicture a.img { width:10em; height:10em;}
form .avatarPicture video { height:100%;}
form .avatarPicture video,
form .avatarPicture canvas { width:100%;}
form .avatarPicture .cancelAvatar { font-size:.8em; text-align:center; border-radius:.5em; color: #eee;box-sizing: border-box; position:absolute; top:0; left:0; background:rgba(0,0,0,.5); padding:.5em; width:100%; float:left;}
form .avatarPicture .saveAvatar:before { content: "save avatar"; position: absolute; background: rgba(132,245,0,.5); padding: .5em; width: 100%; border-radius: .5em; left: 0; bottom:0; color: white; text-align: center; box-sizing: border-box;}
form .avatarPicture a.avatar { width:100%; height:100%;}

form .submit { float:left;}
form .submit,
form .cancel { width:49%; }
form .cancel { float:right;}

form[name=userLoginForm] .submit { width:100%;}

.page ul li.description { clear:both; float: none; margin-top:.5em; width:30%; left:35%; border-radius:.3em; background:rgb(46, 158, 233); color:#fff; font-size:.7em;}
.page ul li.description > * { width: 50%;}
.page ul li.description input { text-align: right; font-size:1.5em; background:none; border:none; color:#fff; padding-right:.4em;}

.page { position:absolute; left:0; top:0; background:white; width:100%; height:100%; z-index:1;}

.accountScreen section.content { margin-bottom:20%;}

.ui-sortable-placeholder { background:rgba(0,0,0,.5); visibility: visible !important;}
.hidden { display:none;}
.avatar { width:4em; /*height:4em; */float:left; margin-right:.2em;}
.itemNotify { background:blue; border-radius:.4em; padding:.4em; color:white; display: none}
.selected { background:red;}
.btn { border:.2em solid #999; padding:.8em; box-sizing: border-box; border-radius: .5em; background: linear-gradient(to bottom, #666, #ccc); color:#fff; font-weight: bold; }
.btn:active { background: linear-gradient(to top, #666, #ccc); color:#fff; margin-top:.5em;}
.btn:disabled { background: linear-gradient(to top, #333, #666); color:#bbb; margin-top:.5em;}

.notify { position:absolute; top:0; left:0; width:100%; height:100%; z-index: 10;}
.notify:after { content:""; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.7); pointer-events:none;}
.notify .alertBody { border-radius: .5em;position: relative;z-index: 2;width: 20em;height: 8em;display: block;overflow: hidden;background: white;left: 50%;top: 50%;margin:-4em 0 0 -10em;}
.notify .description { font-size:.9em; box-sizing:border-box; padding:.6em; color:#888;}
.notify .code { font-size:.5em; color:#ccc; right:1em; bottom: 1em; position: absolute;}
.notify button { position:absolute; left:.5em; bottom:.5em; padding:.4em 1em;}
.notify h1 { font-size: 1.2em; padding: .3em 0 .3em .5em; background: #ccc; color: #fff; text-shadow: 0.1em 0.1em .2em #666;}


.lxogger {
	z-index: 10;
	position: absolute;
	background: rgba(0,0,0,.8);
	color: white;
	height: 100%;
	width:50%;
	pointer-events: none;
	overflow: hidden;
	font-size:.8em;
}

/* game types */
ul.redPriest li { clear:none; float:left; position: relative; margin:0 1em 1em 0;}
ul.redPriest li:nth-child(3n) { margin-right:0; clear:right;}
ul.redPriest li input.points { color:#fff; background:none; border:none; position: absolute; z-index: 1; font-size:.7em; right: .4em; top: .4em; background: red; border-radius: .5em; padding: .25em; text-align: center; width: 40%; font-weight: bold; -webkit-user-select: none;}
ul.redPriest li a { border-radius:.5em; }
ul.redPriest li img { max-width:10em;}
ul.redPriest li h3 { position: absolute; z-index: 2; bottom: .2em; text-align: center; width: 100%; background: rgba(0,0,0,.5); color: #fff; padding: .2em 0; font-size: 0.9em;}

ul.gameTypes li { width:33.33%;}
ul.gameTypes li a { width:100%;}
ul.gameTypes li:last-of-type { width:100%; clear:both; float:none;}

/* anims */
a[data-type=delete] { -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s;}