body, html, h1, h2, h3, h4, h5, h6, p, div, ul, li { margin:0; padding:0;}
body, html { width:100%; height:100%; font-family: "Segoe UI", "Trebuchet MS", Arial, _sans;}
ul, li { list-style-type: none; position:relative; overflow: hidden;}
a { display: block; text-decoration:none; overflow: hidden;}
img { width:100%; height: auto;}
form { padding:.75em; background:white;}
form fieldset { border:none; margin:0; padding:0;}

header, footer { clear:both; float:none;}
header > *, footer > * { display:inline-block; z-index:1; position: relative;}
header { padding:.5em;}
header a { padding: .5em 1em; position:absolute; top:.5em;}
header a.next { right:0;}
header a.back { left:0;}
header h1 { position:static; top:0; left:0; width:100%; text-align: center; z-index:0; font-size:1.4em;}


footer { position: fixed; bottom:-.3em; left:0; width:100%;}
footer .nav { width:100%;}
footer .nav a { padding: .5em 1em; text-align: center;}
footer .nav a:before { content:""; clear:both; width:2em; height:2em; background:blue; display: block; left: 50%; position: relative; margin-left: -1em;}
footer .nav a.selected { pointer-events:none;}
footer .items_2 li { width:50%;}


ul.gameTypes li,
ul.scoreList li,
ul.nav li  { float:left; background:rgba(0,0,0,.3);}

ul.list li a[data-type=delete] { float:right; width:0em; height:3em; background:red; z-index:1; position: relative;}
ul.list li a.clicker { position:absolute; background: rgba(0,0,223,.3); width:100%; height:100%;}
ul.list li .wrapper { overflow: hidden; display: block;}
ul.list input[type=range] { display: block; width: 100%;}

ul.withSelect li a.clicker { display: none;}
ul.withSelect li a[data-type=select] { top:0; position:absolute; background: rgba(0,30,123,.3); width:100%; height:100%;}
.editable .list li a[data-type=delete] { width:3em;}

ul.scoreList li { clear:both; float:none;}
ul.gameTypes a[data-active=false] { background:rgba(177,0,0,.3); pointer-events:none;}



#playerEditForm .element { clear:both; float:none; display:block; overflow: hidden; padding:.5em 0; box-sizing:"border-box";}
#playerEditForm .element input,
#playerEditForm .element label { box-sizing: border-box; font-size:1em; border-radius:.4em; border:.2em solid #ccc; padding:.3em;}
#playerEditForm .element label { display:inline-block; background:#ccc; color:#666; border-bottom-left-radius:0; border-bottom-right-radius:0; padding-bottom:.4em;}
#playerEditForm .element input { border-top-left-radius: 0; width:100%; margin-top:-.1em; padding:.6em 1em}
#playerEditForm .element input.invalid { background:rgba(255,0,0,.5); font-weight: bold; color:#fff; }
#playerEditForm .element input.invalid:focus { background:white; color:#000; font-weight:normal;}
#playerEditForm .element input.invalid::-webkit-input-placeholder { color:#fff;}

#playerEditForm .avatarPicture { display: block; overflow:hidden; position:relative; margin:0 auto; width:10em; height:10em; background:black; border-radius:.5em;}
#playerEditForm .avatarPicture a.img { width:10em; height:10em;}
#playerEditForm .avatarPicture video { height:100%;}
#playerEditForm .avatarPicture video,
#playerEditForm .avatarPicture canvas { width:100%;}
#playerEditForm .avatarPicture .cancelAvatar { font-size:.8em; text-align:center; border-radius:.5em; color: #eee;box-sizing: border-box; position:absolute; top:0; left:0; background:rgba(0,0,0,.5); padding:.5em; width:100%; float:left;}
#playerEditForm .avatarPicture .saveAvatar:before { content: "save avatar"; position: absolute; background: rgba(132,245,0,.5); padding: .5em; width: 100%; border-radius: .5em; left: 0; bottom:0; color: white; text-align: center; box-sizing: border-box;}
#playerEditForm .avatarPicture a.avatar { width:100%; height:100%;}


#playerEditForm .submit { float:left;}
#playerEditForm .submit,
#playerEditForm .cancel { width:49%; }
#playerEditForm .cancel { float:right;}


.page ul li.description { clear:both; float: none;}
.page { position:absolute; left:0; top:0; background:white; width:100%; height:100%; z-index:1;}

.ui-sortable-placeholder { background:rgba(0,0,0,.5); visibility: visible !important;}
.hidden { display:none;}
.avatar { width:4em; /*height:4em; */float:left; margin-right:.2em;}
.itemNotify { background:blue; border-radius:.4em; padding:.4em; color:white; display: none}
.selected { background:red;}
.btn { border:.2em solid #999; padding:.8em; box-sizing: border-box; border-radius: .5em; background: linear-gradient(to bottom, #666, #ccc); color:#fff; font-weight: bold; }
.btn:active { background: linear-gradient(to top, #666, #ccc); color:#fff; margin-top:.5em;}


/* game types */
ul.redPriest li { clear:none; float:left;}


/* anims */
a[data-type=delete] { -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s;}