doctype html
html
	head
		meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
		//- script(type="text/javascript", src="/jquery/dist/jquery.min.js")
		//- script(type="text/javascript", src="/underscore/underscore.js")
		//- script(type="text/javascript", src="/backbone/backbone.js")
		//- script(type="text/javascript", src="/jquery/dist/jquery.min.js")
		//- script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH7RbFI8ACYlpwstqDyq7JvRZjE1w1kBg&sensor=false")
		script(type="text/javascript", src="js/example.js")
	body
		