doctype html
html
	head
		title Shigy
		script(src="/jquery/dist/jquery.min.js")
		script(src="/jqueryui/ui/jquery-ui.js")
	body
		#page
			header(data-role="header")
			section(data-role="content")
				ul
					li
						a coco
					li
						a moco
					li
						a roco
			footer(data-role="footer")
				script(src="js/app/main.js")
