doctype html
html
	head
		title Shigy
		meta(name="viewport", content="user-scalable=no, initial-scale=0.8, width=device-width")
		link(rel="stylesheet", href="css/main.css")
		script(src="/requirejs/require.js" data-main="js/bootstrap")
	body
		