doctype html
html
	head
		title Shigy
		script(src="requirejs/require.js" data-main="js/bootstrap.js")
	body
		#page
			header(data-role="header")
			section(data-role="content")
			footer(data-role="footer")

