html
	head
		meta(charset="utf-8")
		title Testing with Jasmine
		link(rel="stylesheet", href="jasmine/lib/jasmine-core/jasmine.css")
		link(rel="stylesheet", href="css/main.css")
		script(src="requirejs/require.js" data-main="js/tests/bootstrapTest.js")
	body
		#rentz