<fieldset>
	<div class="element">
		<div class="avatarPicture">
			<a href="#takePicture" title="Snap picture" class="newAvatar hidden">
				<video class="screen" autoplay/>
			</a>
			<a href="#getAvatar" title="<%= typeof(name) != 'undefined' ? name : ""  %> <%= typeof(surname) != 'undefined' ? surname : ""  %>" class="avatar">
				<img src="<%= typeof(picture) != 'undefined' ? picture : ""  %>" alt="avatar">
			</a>
			<a href="#cancelPicture" title="Cancel picture" class="cancelAvatar hidden">cancel</a>
			<a href="#savePicture" title="Save picture" class="saveAvatar hidden">
				<canvas class="canvas"/>
			</a>
		</div>
		<span class="itemNotify"><%= typeof(won) != 'undefined' ? won : "0"  %> won</span>
	</div>
	<div class="element">
		<label for="nick">Nickname</label>
		<input type="text" required name="nick" id="nick" value="<%= typeof(nick) != 'undefined' ? nick : "" %>" placeholder="What friends call you"/>
	</div>
	<hr>
	<div class="element">
		<label for="name">Name</label>
		<input type="text" required name="name" id="name" value="<%= typeof(name) != 'undefined' ? name : ""  %>" placeholder="Name"/>
	</div>
	<div class="element">
		<label for="surname">Surname</label>
		<input type="text" required name="surname" id="surname" value="<%= typeof(surname) != 'undefined' ? surname : ""  %>" placeholder="Surname"/>
	</div>
	<hr>
	<div class="actions">
		<button class="submit">submit data</button>
		<button class="cancel">reset form</button>
	</div>
</fieldset>
