<thead>
	<tr>
		<td></td>
		<% _.each(_players, function(player, index){ %>
	<td class="score" data-place="<%= player._place %>">
			<img src="<%= player.picture %>" alt="<%= player.nick %>"/>
			<h3><%= player.nick %></h3>
			<p class="points"><%= _points[index] %></p>
		</td>
		<% }); %>
	</tr>
</thead>
<tbody>
<% _.each(_items, function(round,index){ %>
	<tr>
		<td class="icon <%= round.get('gameType').get('type') %>"><%= round.get('gameType').get('name') %></td>
		<% _.each(_players, function(player,index){ %>
		<td><%= round.get('_points')[index] %></td>
		<% }); %>
	</tr>
<% }); %>
<% if (_items.length > 0){ %>
<!-- <tfoot>
	<tr>
		<td>TOTAL:</td>
		<% _.each(_points, function(item){ %>
		<td><%= item %></td>
		<% }); %>
	</tr>
</tfoot>
<% } %> -->
</tbody>