<form method="" action="" name="">
	<fieldset>
		<div class="element">
			<label for="userName">User name</label>
			<input required type="text" id="userName" name="userName" value="" placeholder="user name"/>
		</div>
		<div class="element">
			<label for="userPassword">Password</label>
			<input required type="password" id="userPassword" name="userPassword" value="" placeholder="password"/>
		</div>
		<div class="actions">
			<button class="submit">Login</button>
		</div>
	</fieldset>