
<% if (type != 'normal') { %>
	<% if ( typeof(name)!='undefined'){%><h3><%= name %></h3><% } %>
	<a href="#switchToPlayer" title="<%= typeof(name)!='undefined' ? name : '' %>">
		<img src="<%= typeof(icon)!='undefined' ? icon : '' %>" alt="<%= typeof(name)!='undefined' ? name : '' %>">
	</a>
<% } else { %>
	<input type="range" value="0" class="slider" max="<%= maxItems %>" min="0">
	<% if ( typeof(name)!='undefined'){%><h3><%= name %></h3><% } %>
	<input type="number" value="0" class="items" max="<%= maxItems %>" min="0">
<% } %>
<input type="text" value="0 points" disabled="" class="points">